<!DOCTYPE html>
{% extends 'flatpages/default.html' %}

{% load custom_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Все статьи
        {% endblock title%}
    </title>
</head>
<body>
{% block content %}
    <h1>Все посты в категории статьи</h1>
    <h3>Всего статей: {{ articles|length }}</h3>
    <h3> {{ next_sale|default_if_none:"Чуть позже сообщим о новых статьях!" }} </h3>

    <hr>

    {% if perms.NewsPortal.add_post %}
    <a href="{% url 'articles_create' %}">Создать новый пост</a>
    {% endif %}

    {% if articles %}
        <table>
            <tr>
                <th>Заголовок</th>
                <th>Время публикации</th>
                <th>Превью</th>
                {% if perms.NewsPortal.change_post %}
                <td>Действия</td>
                {% endif %}

            </tr>
            {% for n in articles %}
            <tr>
                <td>{{ n.headline }}</td>
                <td>{{ n.time_in|date:'d M Y'  }}</td>
                <td>{{ n.preview }}</td>
                <td>
                    {% if perms.NewsPortal.change_post %}
                    <a href="{% url 'articles_update' pk=n.id %}">Изменить</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Статей нет! Вообще нет!</h2>
    {% endif %}

    {% if page_obj.previous_page_number == 1 %}
    <a href="?{% url_replace page=1 %}">1</a>
    {% endif %}
    {% if page_obj.previous_page_number != 1 %}
    <a href="?{% url_replace page=1 %}">
        Начало
    </a>
    ...
    <a href="?page={% url_replace page=page_obj.previous_page_number %}">
        {{ page_obj.previous_page_number }}
    </a>

    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={% url_replace page=page_obj.next_page_number %}">
            {{ page_obj.next_page_number }}
        </a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={% url_replace page=paginator.num_page %}">
                Конец
            </a>
        {% endif %}
    {% endif %}

{% endblock content%}
</body>
</html>